.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 50%;
}

.cart-sidebar {
    position: fixed;
    top: 75px;
    right: -300px; 
    width: 300px;
    height: calc(100% - 60px); 
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 1rem;
    transition: right 0.3s ease;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.cart-sidebars {
    position: fixed;
    top: 75px;
    /* right: -300px;  */
    width: 300px;
    height: calc(100% - 60px); 
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 1rem;
    transition: right 0.3s ease;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
/* .cart-sidebar.active {
    right: 0; 
} */

.cart-list {
    flex-grow: 1; 
    overflow-y: auto;
}

.cart-icon {
    position: relative; 
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -8px; 
    right: -8px; 
    background-color: red;
    color: white;
    font-size: 12px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cart-total {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 13px;
    position: sticky;
    bottom: 60px; /* Memberikan jarak ke bagian bawah sidebar */
    background-color: #f8f9fa; /* Pastikan memiliki latar belakang agar tidak tumpang tindih */
    z-index: 1;
}

.checkout-btn {
    background-color: #007bff;
    color: white;
    padding: 0.5rem;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    position: sticky;
    bottom: 0;
    background-color: #007bff;
}

.checkout-btn:hover {
    background-color: #0056b3;
}


.cart-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    font-weight: bold;
}

.cart-item-price {
    font-size: 0.9rem;
}

.cart-item-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-item-actions button {
    width: 32px; /* Pastikan ukuran tombol sama */
    height: 32px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cart-item-actions button:hover {
    background-color: #ddd;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


